@model IEnumerable<OnlineShopMVC.Models.Category>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Categories</h1>

<p>
    <a class="btn btn-primary" asp-action="Create">
        <i class="bi bi-plus-circle"></i> Create New
    </a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                <a class="btn btn-success" asp-action="Edit" asp-route-id="@item.CategoryId">
                        <i class="bi bi-pencil-square"></i> Edit
                </a> |
                <a class="btn btn-warning" asp-action="Details" asp-route-id="@item.CategoryId">
                        <i class="bi bi-info-circle"></i> Details
                </a> |
                <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.CategoryId">
                        <i class="bi bi-trash3"></i> Delete
                </a>
            </td>
        </tr>
}
    </tbody>
</table>